// {
//   "extends": "eslint:recommended",
//   "parserOptions": {
//     "ecmaVersion": 8,
//     "ecmaFeatures": {
//       "impliedStrict": true
//     },
//     "sourceType": "module"
//   },
//   "env": {
//     "browser": true,
//     "es6": true,
//     "jest": true
//   },
//   "globals": {
    

//     const ctx = document.getElementById('chart').getContext('2d');

//     myChart.data.datasets[0].data = [100, 200, 300, 50, 10];
// const labelColors = ['red', 'blue', 'yellow', 'green', 'purple', 'orange'];

// const myChart = new Chart(ctx, {
//     "type": 'bar',
//     "data": {
//     "labels": labelColors,
//     "datasets": [{
//     "label": '# of Votes',
//     "data": data,
//     "backgroundColor": labelColors
//     }]
//     },
//     "options": {
//     "scales": {
//         "yAxes": [{
//             "ticks": {
//                 "beginAtZero":true
//             }
//         }]
//     }
//     }
// });
// "QUnit": false
//   },
//   "rules": {
//     "eqeqeq": ["error", "always"],
//     "no-console": "warn",
//     "indent": [
//       "error",
//       4,
//       {
//         "SwitchCase": 1,
//         "ignoreComments": true
//       }
//     ],
//     "quotes": [
//       "error", 
//       "single",
//       { 
//         "avoidEscape": true,
//         "allowTemplateLiterals": true 
//       }
//     ],
//     "no-multi-spaces": [
//       "error",
//       {
//         "ignoreEOLComments": true
//       }
//     ],
//     "new-cap": "error",
//     "no-redeclare": [
//       "error",
//       {
//         "builtinGlobals": true
//       }
//     ],
//     "semi": ["error", "always"],
//     "space-in-parens": ["error"],
//     "space-infix-ops": "error",
//     "object-curly-spacing": ["error", "always"],
//     "comma-spacing": "error",
//     "space-before-function-paren": ["error", "never"],
//     "keyword-spacing": [
//       "error",
//       {
//         "before": true,
//         "after": true
//       }
//     ],
//     "array-bracket-spacing": "error"
//   }
// }
